{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block meta_title %} Windows Monitor | Computer List {% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Computer List</h1>
    <div class="row">
        {% for computer in computers %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'windows_monitor:computer_detail' computer.system_uuid %}">
                            {{ computer.system_uuid }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
