{% extends 'base/base.html' %}
{% load crispy_forms_tags %}


{% block meta_title%} Serwis | Klienci {% endblock %}

{% block content %}

<a href="{% url 'workshop:customer-create' %}">Stwórz klienta</a>

<form method="GET" action="">
    {% csrf_token %}
    <div class="form-row align-items-center">
        <div class="col">
            <div>{{q|crispy}}</div>
        </div>
    </div>
    <button class="btn btn-primary form-control" type="submit">Szukaj</button>
</form>


<div class="table-responsive mt-5">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Imie i nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Numer telefonu</th>
                <th scope="col">Edytuj</th>
                <th scope="col">Usuń</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td><a href="{% url 'workshop:customer-detail' object.id %}">{{ object.name }}</a></td>
                <td><a href="mailto:{{ object.email }}">{{ object.email }}</a></td>
                <td>{{ object.phone }}</td>
                <td><a href="{% url 'workshop:customer-update' object.id %}">Edytuj</a></td>
                <td>
                    <form action="{% url 'workshop:customer-delete' object.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Usuń</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% include "base/pagination.html" %}
{% endblock %}