{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'warehouse:device-create' %}">Create device</a>

<form method="GET" action="">
    {% csrf_token %}
    <div>{{q|crispy}}</div>
    <div>{{device_types|crispy}}</div>
    <button type="submit">Search</button>
</form>

{% for object in object_list %}
    <a href="{% url 'warehouse:device-detail' object.id %}">{{object.name}}</a>,
    {{object.quantity}},
    {{object.device_type.name}}
    <br>
{% endfor %}

</body>
</html>